@use 'sass:color';

@use '@material/theme/color-palette';

// Svelte Colors! (Dark Theme)
@use '@material/theme/index' as theme with (
  $primary: transparent,
  $secondary: color.scale(#1c1c1c, $whiteness: -10%),
  $surface: color.adjust(color-palette.$grey-900, $blue: +4),
  $error: color-palette.$red-700
);



@use '../app';

html {
  scroll-behavior: smooth;
  font-family: 'Mukta', sans-serif;
  color: #582f0e;
}